body {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background: #e7c3c3;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    padding: 8px;
     
}

button {
    padding: 8px 12px;
    background: #faa2a2;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    background: #d86e6e;
    margin-bottom: 5px;
    border-radius: 4px;
}
